/ {
    macros {
        /* Symbols */

        m_parens: MACRO_0(m_parentheses, <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>)
        m_brackets: MACRO_0(m_brackets, <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>)
        m_braces: MACRO_0(m_braces, <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>)
        m_chevrons: MACRO_0(m_angle_brackets, <&kp LESS_THAN &kp GREATER_THAN &kp LEFT>)
        m_arrow_r: MACRO_0(m_arrow_right, <&kp MINUS &kp GREATER_THAN &kp SPACE>)
        m_arrow_l: MACRO_0(m_arrow_left, <&kp LESS_THAN &kp MINUS &kp SPACE>)
        m_fat_arrow_r: MACRO_0(m_fat_arrow_right, <&kp EQUAL &kp GREATER_THAN &kp SPACE>)
        m_fat_arrow_l: MACRO_0(m_fat_arrow_left, <&kp LESS_THAN &kp EQUAL &kp SPACE>)
        m_tilde_arrow_r: MACRO_0(m_tilde_arrow_right, <&kp TILDE &kp GREATER_THAN &kp SPACE>)
        m_tilde_arrow_l: MACRO_0(m_tilde_arrow_left, <&kp LESS_THAN &kp TILDE &kp SPACE>)
        m_pipe_r: MACRO_0(m_pipe_right, <&kp PIPE &kp GREATER_THAN &kp SPACE>)
        m_pipe_l: MACRO_0(m_pipe_left, <&kp LESS_THAN &kp PIPE &kp SPACE>)

        /* Elixir */

        m_ex_bitstring: MACRO_0(m_elixir_bitstring, <&kp LESS_THAN &kp LESS_THAN &kp GREATER_THAN &kp GREATER_THAN &kp LEFT &kp LEFT>)
        m_ex_type_delim: MACRO_0(m_elixir_type_delimiter, <&kp COLON &kp COLON &kp SPACE>)
        m_ex_spec: MACRO_0(m_elixir_spec, <&kp AT_SIGN &kp S &kp P &kp E &kp C &kp SPACE>)
        m_ex_type: MACRO_0(m_elixir_type, <&kp AT_SIGN &kp T &kp Y &kp P &kp E &kp SPACE>)
        m_ex_map: MACRO_0(m_elixir_map, <&kp PERCENT &kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>)
        m_ex_interp: MACRO_0(m_elixir_interpolation, <&kp HASH &kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>)
        m_ex_full_interp: MACRO_0(m_elixir_full_interpolation, <&kp DOUBLE_QUOTES &kp HASH &kp LEFT_BRACE &kp RIGHT_BRACE &kp DOUBLE_QUOTES &kp LEFT &kp LEFT>)

        /* Game */

        m_tap_gchat_o: MACRO_1(m_tap_game_chat_open, <&kp MACRO_PLACEHOLDER &to GAME_CHAT>)
        m_tap_gchat_c: MACRO_1(m_tap_game_chat_close, <&kp MACRO_PLACEHOLDER &to GAME>)
    };
};
